.home-upper-line{
    .cjb{
        color: rgb(85, 98, 116)!important;
    }
}

.Bithigh-NFT{
    .nfts-profiles{
        .detailss{
            .right-side-nft{
                .kjasbcijw{
                    display: flex;
                    .jshvcd{
                        h5{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                            color: #A5B0CE;
                            margin-bottom: 6px;
                        }
                        p{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 30px;
                            color: #FFFFFF;
                        }
                    }
                    .jshvc{
                        margin-left: 138px;
                        h5{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                            color: #A5B0CE;
                            margin-bottom: 6px;
                        }
                        p{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 30px;
                            color: #FFFFFF;
                        }
                    }
                }
                .linkssssdhg{
                    p{
                        margin-top: 10px;
                        color: #FFFFFF;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 27px;
                        span{
                            color: rgb(80, 103, 114);
                            button{
                                background: transparent;
                                border: none;
                            }
                        }
                    }
                    .right-divs{
                        padding-top: 40px;
                        padding-bottom: 40px;
                        a{
                            margin-right: 20px;
                            cursor: pointer;
                        }
                    }
                }
                .linksss{
                    display: flex;
                    align-items: center;
                    .left-divs{
                        margin-right: 150px;
                        margin-top: 21px;
                        margin-bottom: 65px;
                        h5{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                            color: #A5B0CE;
                        }
                        p{
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 27px;
                            color: #FFFFFF;
                        }
                    }
                    .right-divs{
                        a{
                            margin-right: 20px;
                        }
                    }
                }
                .upper-dks{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .left-name{
                        h3{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 40px;
                            line-height: 60px;
                            color: #FFFFFF;
                        }
                    }
                }
                .upper-dks{
                    .right-namekcm{
                        .bvhjr{
                            background: #5D6887;
                            border-radius: 22px;
                            height: 57px;
                            border: none;
                            padding-left: 10px;
                            padding-right: 10px;
                            p{
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 21px;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
        .main-bithigh-image{
            margin-bottom: 40px;
            img{
                width: 100%;
                border-radius: 22px;
                height: 494px;
                object-fit: cover;
            }
        }
    }
    .Nfts-outer{
        .Nfts{
            .first-second{
                .owl-item img{
                    width: unset;
                }
                .item{
                    .main-card{
                        .lower{
                            padding-bottom: 20px;
                        }
                        background: #242D45;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                       .icon{
                           img{
                               width: 100%!important;
                               border-top-left-radius: 10px;
                               border-top-right-radius: 10px;
                           }
                       }
                       .text-down{
                           h4{
                            padding-top: 14px;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #FFFFFF;
                           }
                       }
                       .level-items{
                           margin-top: 10px;
                           margin-left: 20px;
                           margin-right: 20px;
                           background: #5D6887;
                           border-radius: 12px;
                           height: 47px;
                           p{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #FFFFFF;
                            margin-left: 10px;
                           }
                       }
                    }
                }
            }
        }
    }
}

.ajsbsjkc{
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #A5B0CE;
    }
}

.discover-down{
    .discover-downss{
        .sjchb{
            transition: 1s all ease-in-out;
            &:hover{
                background: #2F3955;
            }
            border-radius: 22px;
            display: flex;
            align-items: center;
            padding: 27px;
            .images-logod{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                object-fit: cover;
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .texts{
                margin-left: 20px;
                h5{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 33px;
                    color: #FFFFFF;
                }
                p{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #A5B0CE;
                }
            }
        }
    }
}