.Nfts-outer{
    .Nfts{
        .first-second{
            .owl-item img{
                width: unset;
            }
            .item{
                .main-card{
                    .lower{
                        padding-bottom: 20px;
                    }
                    background: #242D45;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                   .icon{
                       img{
                           width: 100%!important;
                           height: 266px;
                           border-top-left-radius: 10px;
                           border-top-right-radius: 10px;
                       }
                   }
                   .text-down{
                       h4{
                        padding-top: 14px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: #FFFFFF;
                       }
                   }
                   .level-items{
                       margin-top: 10px;
                       margin-left: 20px;
                       margin-right: 20px;
                       background: #5D6887;
                       border-radius: 12px;
                       height: 47px;
                       p{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: #FFFFFF;
                        margin-left: 10px;
                       }
                   }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .Nfts-outer{
        .Nfts{
            .first-second{
                height: 470px;
            }
        }
    }
}


.light{
    .Nfts-outer .Nfts .first-second .item .main-card{
        background-color:  #F9F9F9;
    }
    .Nfts-outer .Nfts .first-second .item .main-card .level-items{
        background-color:  #EBEBEB;
    }
    .Nfts-outer .Nfts .first-second .item .main-card .level-items p{
        color: #2F3955;
    }
}