.Loginns{
    .login-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 120px;
        padding-top: 100px;
        .xnj{
            margin-right: 50px;
            h3{
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 60px;
                color: #FFFFFF;
            }
        }
        .facdegv{
            display: flex;
            flex-direction: column;
            button{
                margin-bottom: 24px!important;
                background: #2F3955!important;
                border-radius: 22px!important;
                font-style: normal!important;
                font-weight: 500!important;
                font-size: 16px!important;
                line-height: 24px!important;
                color: #FFFFFF!important;
                outline: none!important;
                box-shadow: none!important;
                padding: 16px 50px!important;
                border: none!important;
                img{
                    margin-right: 15px;
                }
            }
            .sjhchx > div{
                padding: 0px!important;
                background-color: transparent!important;
            }
        }
    }
}

